NB_PROXY_DOMAIN=${NETBIRD_PROXY_DOMAIN}
NB_PROXY_TOKEN=${NETBIRD_PROXY_TOKEN}
NB_PROXY_MANAGEMENT_ADDRESS=http://management:33073
NB_PROXY_ALLOW_INSECURE=true
NB_PROXY_ADDRESS=:8443
NB_PROXY_ACME_CERTIFICATES=true
NB_PROXY_ACME_CHALLENGE_TYPE=${NETBIRD_PROXY_ACME_CHALLENGE_TYPE}
NB_PROXY_CERTIFICATE_DIRECTORY=/certs
